.title {
    min-width: 30.5vw;
    max-width: 30.5vw;
    text-align: left;
    border-radius: 7px 7px 0 0;
    border-right: 1px solid #606060FF;
    padding-left: 5px;

}

.genres {
    min-width: 25vw;
    max-width: 25vw;
    text-align: left;
    border-right: 1px solid #606060FF;
    padding-left: 5px;
}

.date {
    min-width: 10vw;
    max-width: 10vw;
    justify-content: center;
    text-align: left;
    border-right: 1px solid #606060FF;
    padding-left: 5px;
}

.popularity {
    min-width: 10vw;
    max-width: 10vw;
    justify-content: center;
    text-align: left;
    border-right: 1px solid #606060FF;
    padding-left: 5px;
}

.budget {
    min-width: 10vw;
    max-width: 10vw;
    justify-content: center;
    text-align: left;
    border-right: 1px solid #606060FF;
    padding-left: 5px;
}

.revenue {
    min-width: 10vw;
    max-width: 10vw;
    justify-content: center;
    text-align: left;
    border-radius: 7px 7px 0 0;
    padding-left: 5px;
}

.header {
    border-bottom: 2px solid #606060FF;
    position: fixed;
    border-radius: 6px 6px 0 0;
    width: 97.8%;
}

.movie-table-container {
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #606060FF;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.movie-table th {
    background-color: #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-weight: bold;
}

.movie-table th span {
    margin-right: 20px;
}

.sort-icon {
    vertical-align: middle;
    margin-left: 5px;
}

.result {
    border-bottom: 1px solid #606060FF;
    border-right:  1px solid #606060FF;
    border-left:  1px solid #606060FF;
}

th{
    position: sticky;
    top: 0;
}

.div-table {
    max-height: 80vh;
    overflow-y: auto;
}

th {
    position: sticky;
    top: 0;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track-piece{
    background-color: #FFF;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #CBCBCB;
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: -2px;
    border: 1px solid #B7B7B7;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover{
    background-color: #909090;
}

tbody{
    padding-top: 42px;
    width: 95vw;
}

.tr{
    border-bottom: 1px solid #606060FF;
}
