.header-title {
    min-width: 30vw;
    max-width: 30vw;
    border-right: 2px solid #606060FF;
    border-bottom: 2px solid #606060FF;
}

.header-genres {
    min-width: 30vw;
    max-width: 30vw;
    border-right: 2px solid #606060FF;
    border-bottom: 2px solid #606060FF;
}

.header-date {
    min-width: 10vw;
    max-width: 10vw;
    border-right: 2px solid #606060FF;
    border-bottom: 2px solid #606060FF;
}

.header-popularity {
    min-width: 10vw;
    max-width: 10vw;
    border-bottom: 2px solid #606060FF;
}

.movie-table-container {
    margin: 20px;
    overflow-x: auto;
    border-radius: 10px;
    border: 2px solid #606060FF;
    max-height: 72vh;
    overflow-y: auto;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.movie-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

.movie-table th span {
    margin-right: 20px;
}

.sort-icon {
    vertical-align: middle;
    margin-left: 5px;
}

.result {
    border-bottom: 1px solid #606060FF;
    border-right:  1px solid #606060FF;
    border-left:  1px solid #606060FF;
}

th{
    position: sticky;
    top: 0;
}
